@import '../../../../styles/varialbles.scss';

p {
   margin: 0;
}
.days {
   display: flex;
   // justify-content: space-between;
   gap: 1.5%;
   flex-wrap: wrap;
   padding: 20px;
   width: 100%;
   background-color: var(#{--components-background});
   box-shadow: $box-shadow;
   border-radius: 0 0 20px 20px;
}

.card {
   display: flex;
   flex-direction: column;
   background: rgba(71, 147, 255, 0.2);
   border-radius: 10px;
   padding: 10px;
   transition: 0.3s;
   cursor: pointer;
   width: 13%;
   margin-bottom: 1.5%;

   &:hover {
      box-shadow: var(#{--card-box-shadow});
   }
}

.day {
   margin-bottom: 7px;
   font-size: 1.15em;
   font-weight: 500;
   color: var(#{--text-color});
}

.dayInfo {
   font-size: 0.85em;
   margin-bottom: 12px;
   color: $base-color;
}

.img {
   margin-bottom: 12px;
}

.tempDay {
   font-size: 1.15em;
   font-weight: 500;
   color: var(#{--text-color});
}

.tempNight {
   font-size: 0.8em;
   margin-bottom: 6px;
   color: $base-color;
}

.info {
   font-size: 0.8em;
   color: $base-color;
}

.tabsWrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 7px;
}
.tabsList {
   padding: 0;
   display: flex;
   align-items: center;
}

.tab,
.cancel {
   box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
   border-radius: 5px;
   padding: 9px 20px;
   background-color: var(#{--components-background});
   margin-right: 15px;
   transition: 0.3s;
   color: var(#{--text-color});
   font-size: 1.15em;
   list-style: none;
   cursor: pointer;
}

.tab {
   
   &:hover,
   &_active {
      background-color: $primary-color;
      color: #fff;
      transition: 0.3s;
   }
}

.cancel {
   margin-right: 0;
   &:hover {
      background-color: $cancel-color;
      color: #fff;
      transition: 0.3s;
   }
}